/* Sprite Setup */
/* Global mediaQueries mixin */
/* Global Variables */
/* Global font Calculation */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/global\/_global_fonts\.scss}line{font-family:\0000381}}
html {
  font-size: 112.5% !important;
}

/* Global Mixins */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\000037}}
.panel {
  -moz-transition: -moz-transform 800ms ease;
  -o-transition: -o-transform 800ms ease;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: transform 800ms ease;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  opacity: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  left: 0;
  background-color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\0000324}}
.panel:after {
  content: "";
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\0000331}}
.panel,
.panel__inner,
.panel__content,
.panel__overlay,
.panel__bg {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\0000343}}
.panel__inner {
  position: relative;
  width: 100%;
  background-color: gold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\0000346}}
.panel__inner:after {
  content: "";
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\0000356}}
.panel__content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: goldenrod;
}
@media all and (min-width: 620px) and (max-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\0000356}}
  .panel__content {
    width: 560px;
  }
}
@media all and (min-width: 1009px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\0000356}}
  .panel__content {
    width: 960px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\0000392}}
.panel__overlay {
  display: block;
  position: absolute;
  width: 300px;
  height: 1200px;
  background-color: green;
  left: 50%;
  top: 100px;
  margin-left: -150px;
  border-bottom: 20px solid blue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\00003104}}
.panel__scrollarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\00003115}}
.panel__bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\00003127}}
.panel--list {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\00003140}}
.panel--list::-webkit-scrollbar {
  width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\00003146}}
.panel--list:after {
  content: "";
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\00003153}}
.panel__bg--frame {
  border-style: solid;
  border-width: 15px;
  -moz-border-image: url("/images/graphic/border_bullet.png") 15 15 round;
  -o-border-image: url("/images/graphic/border_bullet.png") 15 15 round;
  -webkit-border-image: url("/images/graphic/border_bullet.png") 15 15 round;
  border-image: url("/images/graphic/border_bullet.png") 15 15 round;
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 20px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_panel\.scss}line{font-family:\00003165}}
.panel__bg--sun {
  background-image: url("/images/graphic/sun_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000314}}
.header {
  -moz-transition: -moz-transform 300ms ease;
  -o-transition: -o-transform 300ms ease;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  -moz-transform: translate(0%, -60px);
  -ms-transform: translate(0%, -60px);
  -webkit-transform: translate(0%, -60px);
  transform: translate(0%, -60px);
  display: block;
  position: fixed;
  left: -10%;
  top: 0;
  width: 120%;
  height: 60px;
  z-index: 60;
  color: #ecb619;
  font-family: "HelveticaNeueW01-95Blac", "Verdane", "Myriad Pro", "Arial", Sans-serif;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000327}}
.header:before, .header:after {
  -moz-border-radius: 0 0 50% 50%;
  -webkit-border-radius: 0;
  border-radius: 0 0 50% 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000331}}
.header:before {
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000342}}
.header:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #bf343b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000355}}
.header,
.header__menu,
.header__menuitem,
.header__logo,
.header__toogle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000367}}
.header__menu {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 25px;
  position: relative;
  text-align: center;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000378}}
.header__menuitem {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000383}}
.header__menuitem:hover, .header__menuitem:focus {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000387}}
.header__menuitem:active {
  color: #d9d9d9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000390}}
.header__menuitem:first-child {
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000394}}
.header__menuitem:last-child {
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\0000398}}
.header__menuitem + .header__menuitem {
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003103}}
.header__logo {
  display: block;
  position: absolute;
  right: 9%;
  top: 100%;
  z-index: 2;
  margin-right: 10px;
  margin-top: 10px;
  background-image: url("/images/graphic/logo.png");
  width: 85px;
  height: 46px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003116}}
.header__toogle {
  -moz-transform: translate(-25px, 45px);
  -ms-transform: translate(-25px, 45px);
  -webkit-transform: translate(-25px, 45px);
  transform: translate(-25px, 45px);
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 45px;
  background-color: #bf343b;
  padding: 9px 12px;
  text-align: center;
  color: #fbeb99;
  cursor: pointer;
  z-index: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003129}}
.header__toogle:hover, .header__toogle:focus {
  color: #fef9e3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003133}}
.header__toogle:active {
  color: #f8dd4f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003136}}
.header__toogle:before {
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003151}}
.header--show {
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

@media all and (min-width: 620px) and (max-width: 1008px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003159}}
  .header__menuitem:first-child {
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003162}}
  .header__menuitem:last-child {
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@media all and (min-width: 1009px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003169}}
  .header__menuitem:first-child {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/block\/_header\.scss}line{font-family:\00003172}}
  .header__menuitem:last-child {
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\000035}}
html,
button,
input,
select,
textarea {
  color: #222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000313}}
body {
  font-size: 1em;
  line-height: 1.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000318}}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000323}}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000328}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000337}}
img {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000341}}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000347}}
textarea {
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000351}}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000396}}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003103}}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003110}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003115}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003126}}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003136}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003140}}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003146}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003150}}
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003159}}
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003166}}
  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003171}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003175}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003183}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003189}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003195}}
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003199}}
  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003204}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003212}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003219}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_pollutions\.scss}line{font-family:\000031}}
html, body {
  margin: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_pollutions\.scss}line{font-family:\000035}}
a {
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_pollutions\.scss}line{font-family:\000037}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/workspace\/prof\.blomme\/assets\/styles\/vendor\/_vendor_pollutions\.scss}line{font-family:\0000313}}
h1, h2, h3, h4, p {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
