doctype html
html(data-ng-app="BrugSkallen", lang="da")
	head
		title Brug Skallen
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/main.css')
		// libs js
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js')
		block head
		// Fonts
		link(type="text/css", rel='stylesheet', href="http://fast.fonts.net/cssapi/6140b4fc-9afc-4ae9-811c-f91cfd9f10ee.css")

	body.prof-blomme(data-ng-controller="MainCtrl as main")
		block glovalVars
		block body
		div.header(data-ng-class="{'header--show':main.states.expandHeader}")
			div.header__menu
				a.header__menuitem(data-ng-class="{'header__menuitem--active':main.activePanelIndex === 0}", onclick="snap.scrolltoIndex(0)") Forside
				a.header__menuitem(data-ng-class="{'header__menuitem--active':main.activePanelIndex === 1}", onclick="snap.scrolltoIndex(1)") Konkurrence
				a.header__menuitem(data-ng-class="{'header__menuitem--active':main.activePanelIndex === 2}", onclick="snap.scrolltoIndex(2)") Ægsperimenter
			div.header__toggle(data-ng-click="main.toggleHeader()") T
			div.header__logo
		div.panel.panel--list(id="scrollCapture", data-ng-class="{'panel--lockscroll':main.states.lockPageScroll}")
			block content

		script(src="./assets/scripts/snap.js")
		script(src="./assets/scripts/app.js")
		script(src="./assets/scripts/controllers/main.controller.js")
		script(src="./assets/scripts/controllers/slides.controller.js")
		script(src="./assets/scripts/directives/cupgame.directive.js")
