<!DOCTYPE html>
<html data-ng-app="BrugSkallen" lang="da">
  <head>
    <title>Brug Skallen</title>
    <meta charset="UTF-8">
    <!--meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <!-- libs js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
    <!-- Fonts-->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/6140b4fc-9afc-4ae9-811c-f91cfd9f10ee.css">
  </head>
  <body data-ng-controller="MainCtrl as main" class="prof-blomme">
    <div data-ng-class="{'header--show':main.states.expandHeader}" class="header">
      <div class="header__menu"><a class="header__menuitem">Forside</a><a class="header__menuitem">Konkurrence</a><a class="header__menuitem">Ægsperimenter</a></div>
      <div data-ng-click="main.toogleHeader()" class="header__toogle">T</div>
      <div class="header__logo"></div>
    </div>
    <div id="scrollCapture" class="panel panel--list">
      <section class="panel panel--sun">
        <div class="panel__bg"></div>
        <div class="intro">
          <div class="intro__logo"></div>
          <div class="intro__actors">
            <div class="stage stage--grouped">
              <div class="stage__actor stage__actor--boy"></div>
              <div class="stage__actor stage__actor--prof"></div>
              <div class="stage__actor stage__actor--girl"></div>
            </div>
          </div>
          <div class="intro__scrolldown"></div>
          <div class="intro__teaser"></div>
        </div>
      </section>
      <section class="panel panel--frame">
        <div class="panel__bg"></div>
        <div class="game">
          <div class="game__logo"></div><a data-ng-click="main.toggleOverlay('rules', true)" class="game__rulesteaser">Regler og konkurrencebetingelser</a>
          <div class="game__teaser">teaser</div>
          <div class="game__game">
            <div data-cupgame data-cupcount='3' class="cupgame cupgame--count3"></div>
          </div>
          <div class="game__footer">Hjælp Professor Blomme med at finde sine briller og deltag</div>
        </div>
        <div data-ng-init="main.registerOverlay('win'); main.overlays['win'].states.show = true;" data-ng-class="{'panel__scrollarea--show':main.overlays['win'].states.show}" class="panel__scrollarea">
          <div class="panel__overlay">
            <div class="rte rte--nonumbers">
              <h2 class="rte__headline">Godt gået, mit lille æggehoved</h2>
              <div class="rte__segment">
                <div class="rte__image">
                  <div class="stage">
                    <div class="stage__actor stage__actor--prof stage__actor--fit"></div>
                  </div>
                </div>
                <div class="rte__text">
                  <p>Udfyld felterne nedenfor så vi kan kontakte dig hvis du er den heldige vinder. Vinderne får besked løbende.</p>
                  <form name="subscribe" novalidate class="form">
                    <div class="form__line form__line--2">
                      <input type="text" placeholder="Fornavn" data-ng-model="subscribe.firstname" class="form__input">
                      <input type="text" placeholder="Efternavn" data-ng-model="subscribe.lastname" class="form__input">
                    </div>
                    <div class="form__line">
                      <input type="text" placeholder="Adresse" data-ng-model="subscribe.address" class="form__input">
                    </div>
                    <div class="form__line form__line--2">
                      <input type="text" placeholder="Postnummer" data-ng-model="subscribe.zipcode" class="form__input">
                      <input type="text" placeholder="By" data-ng-model="subscribe.town" class="form__input">
                    </div>
                    <div class="form__line">
                      <input type="text" placeholder="Email" data-ng-model="subscribe.email" class="form__input">
                    </div>
                    <div class="form__line">
                      <input type="submit" value="Deltag nu" class="form__button">
                    </div>
                  </form>
                </div>
              </div>
              <div class="rte__segment">
                <p>Du kan deltage så mange gange du vil. Jo flere gange du deltager jo flere lodder har du med i konkurrencen.</p>
              </div>
            </div>
            <div data-ng-click="main.closeAllOverlays()" class="panel__overlayclose"></div>
          </div>
        </div>
        <div data-ng-init="main.registerOverlay('subscribed')" data-ng-class="{'panel__scrollarea--show':main.overlays['subscribed'].states.show}" class="panel__scrollarea">
          <div class="panel__overlay">subscribed
            <div data-ng-click="main.closeAllOverlays()" class="panel__overlayclose"></div>
            <div class="rte">
              <h2 class="rte__headline">Du deltager</h2>
              <h2 class="rte__headline">nu i konkurrencen</h2>
              <p>Vinderen får directe besked</p><a data-ng-click="main.closeAllOverlays()">Tilbage til side</a>
            </div>
          </div>
        </div>
        <div data-ng-init="main.registerOverlay('rules')" data-ng-class="{'panel__scrollarea--show':main.overlays['rules'].states.show}" class="panel__scrollarea">
          <div class="panel__overlay">rules
            <div data-ng-click="main.closeAllOverlays()" class="panel__overlayclose"></div>
            <div class="rte">
              <h2 class="rte__headline">Konkurrence regler</h2>
              <p>RULES!!!!</p><a data-ng-click="main.closeAllOverlays()">Luk</a>
            </div>
          </div>
        </div>
      </section>
      <section class="panel panel--sun">
        <div class="panel__bg"></div>
        <div class="xperiments">
          <div class="xperiments__logo"></div>
          <div class="xperiments__slides">
            <div data-ng-controller="SlidesCtrl as slides" data-slides="4" data-slides-autoplay="false" class="slides slides--fit">
              <h1 data-ng-show="slides.currentIndex === 0" class="slides__headline">Headline 1</h1>
              <h1 data-ng-show="slides.currentIndex === 1" class="slides__headline">Headline 2</h1>
              <h1 data-ng-show="slides.currentIndex === 2" class="slides__headline">Headline 3</h1>
              <h1 data-ng-show="slides.currentIndex === 3" class="slides__headline">Headline 4</h1>
              <div class="slides__cutter">
                <div data-ng-style="slides.css" class="slides__list">
                  <div style="background-image:url('http://placehold.it/900x400')" class="slides__slide"></div>
                  <div style="background-image:url('http://placehold.it/900x400')" class="slides__slide"></div>
                  <div style="background-image:url('http://placehold.it/900x400')" class="slides__slide"></div>
                  <div style="background-image:url('http://placehold.it/900x400')" class="slides__slide"></div>
                </div>
              </div>
              <div data-ng-show="slides.currentIndex === 0" class="slides__attachment">
                <div class="btn btn--center">
                  <div data-ng-click="main.toggleOverlay('juicy', true)" class="btn__text">Se ægsperiment 1</div>
                </div>
              </div>
              <div data-ng-show="slides.currentIndex === 1" class="slides__attachment">
                <div class="btn btn--center">
                  <div data-ng-click="main.toggleOverlay('egg', true)" class="btn__text">Se ægsperiment 2</div>
                </div>
              </div>
              <div data-ng-show="slides.currentIndex === 2" class="slides__attachment">
                <div class="btn btn--center">
                  <div data-ng-click="main.toggleOverlay('sugar', true)" class="btn__text">Se ægsperiment 3</div>
                </div>
              </div>
              <div data-ng-show="slides.currentIndex === 3" class="slides__attachment">
                <div class="btn btn--center">
                  <div data-ng-click="main.toggleOverlay('fruit', true)" class="btn__text">Se ægsperiment 4</div>
                </div>
              </div>
              <div data-ng-click="slides.switchSlide(-1)" class="slides__arrow">Forrige</div>
              <div data-ng-click="slides.switchSlide(1)" class="slides__arrow slides__arrow--right">Mæste</div>
            </div>
          </div>
        </div>
        <div data-ng-init="main.registerOverlay('juicy')" data-ng-class="{'panel__scrollarea--show':main.overlays['juicy'].states.show}" class="panel__scrollarea">
          <div class="panel__overlay">
            <div data-ng-click="main.closeAllOverlays()" class="panel__overlayclose"></div>
            <div class="rte"><a href="#">Print ægsperiment</a>
              <h2 class="rte__headline">ÆGSPERIMENT #1</h2>
              <h2 class="rte__headline">Bag skallede-æggekager</h2>
              <p>Udfyld felterne nedenfor så vi kan kontakte dig hvis du er den heldige vinder. Vinderne får besked løbende.</p>
              <div class="rte__segment">
                <div class="rte__image"><img src="http://placehold.it/338x225"></div>
                <div class="rte__text">Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.</div>
              </div>
              <div class="rte__segment">
                <div class="rte__image"><img src="http://placehold.it/338x225"></div>
                <div class="rte__text">Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.</div>
              </div>
              <div class="rte__segment">
                <div class="rte__image"><img src="http://placehold.it/338x225"></div>
                <div class="rte__text">Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.</div>
              </div>
              <div class="rte__segment">
                <div class="rte__image"><img src="http://placehold.it/338x225"></div>
                <div class="rte__text">Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.</div>
              </div>
            </div>
          </div>
        </div>
        <div data-ng-init="main.registerOverlay('egg')" data-ng-class="{'panel__scrollarea--show':main.overlays['egg'].states.show}" class="panel__scrollarea">
          <div class="panel__overlay">egg
            <div data-ng-click="main.closeAllOverlays()" class="panel__overlayclose"></div>
          </div>
        </div>
        <div data-ng-init="main.registerOverlay('sugar')" data-ng-class="{'panel__scrollarea--show':main.overlays['sugar'].states.show}" class="panel__scrollarea">
          <div class="panel__overlay">sugar
            <div data-ng-click="main.closeAllOverlays()" class="panel__overlayclose"></div>
          </div>
        </div>
        <div data-ng-init="main.registerOverlay('fruit')" data-ng-class="{'panel__scrollarea--show':main.overlays['fruit'].states.show}" class="panel__scrollarea">
          <div class="panel__overlay">fruit
            <div data-ng-click="main.closeAllOverlays()" class="panel__overlayclose"></div>
          </div>
        </div>
      </section>
    </div>
    <script src="./assets/scripts/snap.js"></script>
    <script src="./assets/scripts/app.js"></script>
    <script src="./assets/scripts/controllers/main.controller.js"></script>
    <!--script(src="./assets/scripts/controllers/cup.controller.js")-->
    <!--script(src="./assets/scripts/controllers/cupgame.controller.js")-->
    <script src="./assets/scripts/controllers/slides.controller.js"></script>
    <script src="./assets/scripts/directives/cupgame.directive.js"></script>
    <!--script(src="./assets/scripts/directives/cup.directive.js")-->
  </body>
</html>