section.container.container--partial(data-container, data-ng-class="{'container--test':container.states.active}")
	div.container__content
		div.container__inner
			h1.container__headline Nörder
			div.cluster.cluster--autoHeight.cluster--line4.cluster--mobileline2
				div.cluster__list
					- for(var i=0;i<8;i++)
						div.cluster__item
							div.cluster__inner
								div.card
									div.card__image
										div.bubble.bubble--innershadow
											div.bubble__icon
												img(src="http://placehold.it/300x300")
									div.card__body
										div.rte
											h2 Name Name
											p Übergeek
											a(href="#") Send email