footer.container.container--superpadding.theme.container--black
	div.container__content
		div.container__inner

			div.split
				div.split__left
					div NÖRD ÖST
					div Christiansgade 30
					div 8000 Aarhus C
					div Tlf: (+45) 86 13 68 13
				div.split__right
					div NÖRD VEST
					div Jacob Danefærds Vej 9
					div 1973 Frederiksberg C
					div Tlf: (+45) 86 13 68 13

			div.spacer

			div.inlinelist.inlinelist--iconlist.inlinelist--aligncenter
				div.inlinelist__item
					div.bubble.bubble--grey.bubble--link
						div.bubble__icon
							span.icon--facebook
				div.inlinelist__item
					div.bubble.bubble--grey.bubble--link
						div.bubble__icon
							span.icon--twitter
				div.inlinelist__item
					div.bubble.bubble--grey.bubble--link
						div.bubble__icon
							span.icon--googleplus