
section.container.container--nogutter
	img(src="http://placehold.it/1680x945")


section.container.container--partial
	div.container__content.container__content--narrow
		div.container__inner
			h1.container__headline.container__headline--closer Benefits
			div.rte.rte--layout4.rte--textcenter
				h3 Strategi / UX / Design / Implementering
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac consequat arcu. Donec eget nunc a diam posuene orci vehicula, ullamcorper purus. Nulla bibendum ante id nisl dapibus, nec faucibus sapien sagittis. Fusce volutpat justo pulvinar justo volutpat viverra. Curabitur ac erat a risus tempor lacinia. Aenean sit amet augue sem. Aenean vitae eros vitae odio pretium cursus ut ut ligula.
				a.btn.btn--center.btn--noline
					div.btn__text
						| Læs mere
						div.btn__icon
							span.icon.icon--longarrowbottom
					//div.btn__icon
						span.icon.icon--longarrowbottom
				a.btn.btn--center
					div.btn__text Besøg site
