section.container.container--partial.container--almostwhite(data-container, data-ng-class="{'container--test':container.states.active}")
	div.container__content
		div.container__inner
			h1.container__headline Nördede facts
			div.cluster.cluster--autoHeight.cluster--line4
				div.cluster__list
					div.cluster__item
						div.cluster__inner
							div.fact
								div.fact__icon
									div.icomoon--geek
								div.fact__main 16
								div.fact__sub Nörder
					div.cluster__item
						div.cluster__inner
							div.fact
								div.fact__icon
									div.icomoon--unicorn
								div.fact__main 1
								div.fact__sub Enhjørning
					div.cluster__item
						div.cluster__inner
							div.fact
								div.fact__icon
									div.icomoon--kaffe
								div.fact__main 9686
								div.fact__sub Kopper kaffe drukket
					div.cluster__item
						div.cluster__inner
							div.fact
								div.fact__icon
									div.icomoon--screen
								div.fact__main 43
								div.fact__sub Skærm
					div.cluster__item
						div.cluster__inner
							div.fact
								div.fact__icon
									div.icomoon--design
								div.fact__main 9693
								div.fact__sub Lanceringer
					div.cluster__item
						div.cluster__inner
							div.fact
								div.fact__icon
									div.icomoon--implementering
								div.fact__main 453156
								div.fact__sub Linjers kode skrevet
					div.cluster__item
						div.cluster__inner
							div.fact
								div.fact__icon
									div.icomoon--alder
								div.fact__main 38
								div.fact__sub I gennemsnitsalder
					div.cluster__item
						div.cluster__inner
							div.fact
								div.fact__icon
									div.icomoon--born
								div.fact__main 1999
								div.fact__sub Startede Nörd op
			div.spacer.spacer--big
			a.btn.btn--center
				div.btn__text Læs mere om os
