
section.container.container--partial(data-container, data-ng-class="{'container--test':container.states.active}")
	div.container__content
		div.container__inner
			h1.container__headline.container__headline--closer Andre arbejder
			div.tiles.tiles--line3
				a(href="#").tiles__tile
					div.tiles__overlay
						div.rte.rte--colorinherit.rte--layout7
							h2 Company Name
							p
								b Some description text
					div.tiles__inner
						img(src="http://placehold.it/400x400")
				a(href="#").tiles__tile
					div.tiles__overlay
						div.rte.rte--colorinherit.rte--layout7
							h2 Company Name
							p
								b Some description text
					div.tiles__inner
						img(src="http://placehold.it/400x400")
				a(href="#").tiles__tile
					div.tiles__overlay
						div.rte.rte--colorinherit.rte--layout7
							h2 Company Name
							p
								b Some description text
					div.tiles__inner
						img(src="http://placehold.it/400x400")
				a(href="#").tiles__tile
					div.tiles__overlay
						div.rte.rte--colorinherit.rte--layout7
							h2 Company Name
							p
								b Some description text
					div.tiles__inner
						img(src="http://placehold.it/400x400")
				a(href="#").tiles__tile
					div.tiles__overlay
						div.rte.rte--colorinherit.rte--layout7
							h2 Company Name
							p
								b Some description text
					div.tiles__inner
						img(src="http://placehold.it/400x400")
				a(href="#").tiles__tile
					div.tiles__overlay
						div.rte.rte--colorinherit.rte--layout7
							h2 Company Name
							p
								b Some description text
					div.tiles__inner
						img(src="http://placehold.it/400x400")