section.container.container--fitscreen(data-container, data-ng-class="{'container--test':container.states.active}")
  //div.container__header Header
  div.container__bg(style="background-image:url('./images/graphic/slide_heart.jpg')")

  div.slides(data-slides="3", data-slides-autoplay="true", data-ng-controller="SlidesCtrl as slides")
    div.slides__list(data-ng-style="slides.css")
      div.slides__slide
        div.splash
          div.splash__box
            //div.fontsize--iota.lineheight--kappa Vi er et full service digitalt bureau
            //div.fontsize--gamma Med kærlghed til mennesker og maskiner
            div.splash__bigline Vi er et full service digitalt bureau
            div.splash__smallline Med kærlghed til mennesker og maskiner
      div.slides__slide
        div.splash
          div.splash__box
            //div.fontsize--iota.lineheight--kappa Vi er et full service digitalt bureau
            //div.fontsize--gamma Med kærlghed til mennesker og maskiner
            div.splash__bigline Vi er et full service digitalt bureau
            div.splash__smallline Med kærlghed til mennesker og maskiner
      div.slides__slide
        div.splash
          div.splash__box
            //div.fontsize--iota.lineheight--kappa Vi er et full service digitalt bureau
            //div.fontsize--gamma Med kærlghed til mennesker og maskiner
            div.splash__bigline Vi er et full service digitalt bureau
            div.splash__smallline Med kærlghed til mennesker og maskiner
  div.container__content
    div.container__inner
  div.attachment
    div.rte.rte--layout8
      p SCROLL NED
      div
        span.icon--longarrowbottom
      br
