
section.container.container--partial.container--almostwhite(data-container, data-ng-class="{'container--test':container.states.active}")
	div.container__content.container__content--narrow
		div.container__inner
			div.rte.rte--layout3.rte--textcenter
				h1 Er der en nörd gemt i dig?
				p Vi er altid på udkig efter nye talenter i vores digitale guerillahær, så grib røret eller send os en mail på
					a &nbspkontakt@noerd.dk

