
section.container.container--partial(data-container, data-ng-class="{'container--test':container.states.active}")
	div.container__content.container__content--narrow
		div.container__inner
			div.rte.rte--layout2
				h1 Kontakt
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac consequat arcu. Donec eget nunc a diam posuere ornare. Nam ac lacinia urna. Integer sollicitudin sed arcu quis porta. Praesent pharetra nulla tristique, malesuada lectus et, egestas erat. Aenean sapien libero, lobortis in luctus et, pharetra et leo. Mauris non lacus augue. Integer eget ultrices elit. Donec sodales est vehicula, interdum orci vehicula, ullamcorper purus. Nulla bibendum ante id nisl dapibus, nec faucibus sapien sagittis. Fusce volutpat justo pulvinar justo volutpat viverra. Curabitur ac erat a risus tempor lacinia. Aenean sit amet augue sem. Aenean vitae eros vitae odio pretium cursus ut ut ligula.

