

// PARAMETERS

// BLOCK
.asidemenu {
	display: block;
	width: 100%;
	height: 100%;
	background-color: $color_lightergrey;
  background-image: url('/images/graphic/img-noise-100x100.png');
	overflow-y: auto;
	z-index: 1;
  text-transform: uppercase;
  font-family: $font_BrandonTextBold;
  font-weight: 400;
	//border-right: 1px solid rgba($color_black, 0.4);;
	border-top: 1px solid rgba($color_black, 0.1);
}

.asidemenu,
.asidemenu__item {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.asidemenu__item {
  @include transition(all 300ms ease);
	width: 100%;
	display: block;
	padding: 10px 20px;
  position: relative;
  text-decoration: none;
  &:before {
    @include translate(-50px, 0px);
    @include transition(transform 300ms ease);
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    background-color: $color_heart;
  }
	& + & {
		//border-top: 1px solid $color_white;
	}
	&:hover,
	&:focus {
    background-color: $color_white;
    padding-left: 50px;
    &:before {
      @include translate(-10px, 0px);
    }
	}
  &:active {
    padding-left: 40px;
    &:before {
      @include translate(-40px, 0px);
    }
  }
}

//--- MODIFIERS -------------------------------------------------------//

.asidemenu__item--active {
  background-color: $color_heart;
  color: $color_white;
  padding-left: 50px;
  &:before {
    @include translate(-10px, 0px);
    background-color: $color_white;
  }
  &:hover,
  &:focus {
    background-color: $color_heart;
    color: $color_white;
    &:before {
      background-color: $color_white;
    }
  }
}
