

// PARAMETERS

// BLOCK
.attachment {
  display: block;
}

.attachment {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//



//--- MODIFIERS ----------------------------------------------------------//

.attachment--leftbottom {
  @include transform-origin(0%, 100%);
}

.attachment--rotate {
  @include rotate(15deg);
}

//--- MEDIA QUERRIES ----------------------------------------------------------//
