

// PARAMETERS

// BLOCK
.card {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
  text-decoration: none;
}

.card,
.card__image,
.card__body,
.card__bubblehandler,
.card__bubblelink {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.card__image {
	width: 100%;
	//margin-top: 10px;
  font-size: 80px;

	& > img {
		display: block;
		width: 100%;
		margin: 0;
	}
	& > a {
		display: block;
		text-decoration: none;
		& > img {
			display: block;
			width: 100%;
			margin: 0;
			outline: 0;
			border: 0;
		}
	}
	& + .card__body {
		padding-top: 30px;
	}
}

.card__bubblehandler {
	max-width: 170px;
	//margin: 20px auto 0 auto;
	margin: 0px auto 0 auto;
}

.card__bubblelink {

}

.card__body {
	width: 100%;
	clear: both;
	color: $color_grey;
	font-weight: normal;
	padding: 10px 10px 30px 10px;
  text-align: center;
}

//--- MODIFIERS -------------------------------------------------------//

.card--link {
	cursor: pointer;
	border: 1px solid transparent;
  text-decoration: none;
	&:focus,
	&:hover {
		background-color: $color_almostwhite;
		border: 1px solid $color_lightergrey;
		.card__bubblelink {
			@include transform(rotate(-30deg) scale(0.8, 0.8));
			background-color: lighten($color_heart, 10%);
		}
	}
}

.card--linknobg {
  cursor: pointer;
  text-decoration: none;
  &:focus,
  &:hover {
    .card__bubblelink {
      @include transform(rotate(-30deg) scale(0.8, 0.8));
      background-color: lighten($color_heart, 10%);
    }
  }
}

//--- MEDIA QUERRIES -------------------------------------------------------//

@include mediaQueries(mobile) {
  .card__body {
    padding-left: 0;
    padding-right: 0;
  }
}
