

// PARAMETERS

// BLOCK
.char {
  display: block;
}

.char {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//



//--- MODIFIERS ----------------------------------------------------------//

.char--prof {
  $_width: image-width('../images/graphic/char_prof.png');
  $_height: image-height('../images/graphic/char_prof.png');
  $_ratio: ($_height / $_width);
  background-image: url('/images/graphic/char_prof.png');
  width: $_width;
  height: $_height;
  //padding-bottom: ($_ratio * 100%);
}

.char--girl {
  $_width: image-width('../images/graphic/char_girl.png');
  $_height: image-height('../images/graphic/char_girl.png');
  $_ratio: ($_height / $_width);
  background-image: url('/images/graphic/char_girl.png');
  width: $_width;
  height: $_height;
}

.char--boy {
  $_width: image-width('../images/graphic/char_boy.png');
  $_height: image-height('../images/graphic/char_boy.png');
  $_ratio: ($_height / $_width);
  background-image: url('/images/graphic/char_boy.png');
  width: $_width;
  height: $_height;
}

//--- MEDIA QUERRIES ----------------------------------------------------------//
