

// PARAMETERS
$__gutterWidth: 20px;
$__fitScreenMinHeight: 300px;
$__headerHeight: 70px;
$__headerHeight--mobile: 70px;

$__useFixedHeader: true;

// BLOCK
.container {
	@include transition(background-color 300ms ease);
  width: 100%;
	padding-right: $__gutterWidth;
	padding-left: $__gutterWidth;
	position: relative;
	border-bottom: 1px solid $color_lightergrey;
	background-color: $color_white;
	opacity: 1;
  @include onlyInDebug() {
    background-color: bisque;
    border-bottom: 1px solid darken(goldenrod, 10%);
	}
    &:after {
		content: "";
		display: block;
		clear: both;
	}
	&:nth-child(even) {
		//background-color: $color_almostwhite;
	}
	& > img,
	& > a > img {
		display: block;
		margin: 0;
		width: 100%;
		border: none;
	}
}

.container,
.container__inner,
.container__content,
.container__bg,
.container__list,
.container__header,
.container__headline,
.container__aside {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.container__inner {
    position: relative;
	width: 100%;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	@include onlyInDebug() {
		background-color: gold;
	}
}

.container__content {
    width: $contentWidth;
	margin: 0 auto;
    @include mediaQueries(tablet){
		width: $contentWidth;
	};
	@include mediaQueries(desktop){
		width: $contentWidth;
	};
	@include mediaQueries(narrowdesktop){
		width: $contentWidth;
	};
	@include mediaQueries(mobile){
		//width: $contentWidth;
	};
	@include onlyInDebug() {
		background-color: goldenrod;
	}
}

.container__bg {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	//height: 100%;
	& > a {
		display: block;
		text-decoration: none;
		& > img {
			display: block;
			margin: 0;
			border: none;
			outline: none;
		}
	}
	& > img {
		display: block;
		margin: 0;
		border: none;
		outline: none;
	}
}

.container__list {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.container__header {
	display: block;
	height: $__headerHeight--mobile;
	@include mediaQueries(desktop narrowdesktop tablet) {
		height: $__headerHeight;
	}
	@include onlyInDebug(){
		background-color: lighten(goldenrod, 5%);
	}
	//& ~ .container__content,
	& ~ .container__bg {
		top: $__headerHeight--mobile;
		@include mediaQueries(desktop narrowdesktop tablet) {
			top: $__headerHeight;
		}
	}
}

.container__headline {
	@include fontSize(theta, 1);
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
	//text-transform: uppercase;
	margin-bottom: 60px;
  font-family: $font_BrandonTextBold;
  font-weight: 400;
  @include mediaQueries(mobile) {
    @include fontSize(eta, 1);
  }
}

.container__aside {
	@include transition(transform 300ms ease, opacity 300ms ease);
	@include translate(-100%, 0%);

	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;

	width: 80%;
	@include mediaQueries(tablet) {
		width: 60%;
	}
	@include mediaQueries(desktop narrowdesktop) {
		width: 40%;
	}

	padding-top: $__headerHeight--mobile;
	@include mediaQueries(desktop narrowdesktop tablet) {
		padding-top: $__headerHeight;
	}

}

//--- MODIFIERS -------------------------------------------------------//

.container--fitscreen {
	height: 100%;
	min-height: $__fitScreenMinHeight;
	//padding-left: 0;
	//padding-right: 0;
}

.container--bitfitscreen {
  height: 80%;
  //min-height: $__fitScreenMinHeight;
}

.container--height478 {
  height: 478px;
  background-size: auto 100%;
  background-position: center top;
}

.container--partial {
	padding-top: 30px;
	padding-bottom: 30px;
	@include mediaQueries(tablet narrowdesktop desktop) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.container--pullup {
  margin-top: -#{$__headerHeight--mobile};
  &.container--fitscreen {
    height: calc(100% + #{$__headerHeight--mobile});
  }
  &.container--bitfitscreen {
    height: calc(80% + #{$__headerHeight--mobile});
  }
  &.container--height478 {
    height: (478px + #{$__headerHeight--mobile});
  }
  @include mediaQueries(tablet narrowdesktop desktop) {
    margin-top: -#{$__headerHeight};
    &.container--fitscreen {
      height: calc(100% + #{$__headerHeight});
    }
    &.container--bitfitscreen {
      height: calc(80% + #{$__headerHeight});
    }
    &.container--height478 {
      height: (478px + #{$__headerHeight});
    }
  }
}

.container--quote {
	//padding-top: 30px;
	padding-top: 20px;
	//padding-bottom: 30px;
	padding-bottom: 20px;
}

.container--wall {
	padding-top: 70px;
	padding-bottom: 40px;
}

.container--superpadding {
	padding-top: 100px;
	padding-bottom: 100px;
}

.container--supersuperpadding {
	padding-top: 200px;
	padding-bottom: 200px;
}

.container--nogutter {
	padding-left: 0;
	padding-right: 0;
}

.container--header {
	@include transition(transform 500ms ease, opacity 500ms ease, background-color 500ms ease, color 500ms ease);
	top: 0;
	left: 0;
	z-index: 60;
	height: $__headerHeight--mobile;

	text-decoration: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	@include mediaQueries(tablet narrowdesktop desktop) {
		height: $__headerHeight;
	}

	.container__inner {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	@if $__useFixedHeader {
		position: fixed;
		& + .container--aside {
			top: $__headerHeight--mobile;
			height: calc(100% - #{$__headerHeight--mobile});
		}
		& + .container__list,
		& ~ .container__list {
			padding-top: $__headerHeight--mobile;
		}
		@include mediaQueries(tablet narrowdesktop desktop) {
			& + .container--aside {
				top: $__headerHeight;
				height: calc(100% - #{$__headerHeight});
			}
			& + .container__list,
			& ~ .container__list {
				padding-top: $__headerHeight;
			}
		}
	}
	@else {
		position: absolute;
		& + .container__list {
			padding-top: 0;
			& > .container:first-child {
				padding-top: $__headerHeight;
				& > .container__bg {
					top: $__headerHeight;
				}
			}
		}
	}
}

.container--show {
	&.container--aside {
		@include translate(0%, 0%);
		opacity: 1;
	}
	&.container--overlay {
		opacity: 1;
		z-index: 50;
	}
}
// AngularJs Animate Classes
.container--show-add {
	&.container--overlay {
		z-index: 5;
	}
}
.container--show-remove {
	&.container--overlay {
		z-index: 5;
	}
}

.container--hide {
	@include translate(0%, -50%);
  z-index: -1;
	opacity: 0;
  //&.ng-animate,
  &.container--hide-remove,
  &.container--hide-add {
    //z-index: 1;
    z-index: 60;
  }
	& + .container--aside {
		@include translate(-100%, 0%);
		opacity: 0;
	}
	.container__aside {
		@include translate(-100%, 50px);
		opacity: 0;
	}
	& ~ .container--overlay {
		opacity: 0;
		z-index: -1;
	}
}


.container--invert {

  color: $color_white;
  &.container--black {
    color: $color_black;
  }
}

.container--aside {
	@include transition(transform 300ms ease, opacity 300ms ease);
	@include translate(-100%, 0%);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
  z-index: 60;
  opacity: 0;
	@include onlyInDebug(){
    background-color: darkred;
  }
	@include mediaQueries(tablet) {
		width: 50%;
	}
	@include mediaQueries(narrowdesktop desktop) {
		width: 300px;
	}
}

.container--overlay {
	@include transition(opacity 300ms ease);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: -1;
	padding: 0;
	opacity: 0;
}

.container--transparent {
  //background-color: rgba($color_white, 0);
  background-color: transparent;
  border-bottom-color: transparent;
  &.container--black {
    //background-color: rgba($color_black, 0);
    background-color: transparent;
  }
  border-bottom-color: transparent;
}

.container--black {
	background-color: $color_black;
	color: $color_white;
}

.container--almostwhite {
	background-color: $color_almostwhite;
}

.container__content--full {
	width: 100%;
}

.container__headline--closer {
	margin-bottom: 30px;
}

.container__aside--show {
	@include translate(0%, 0%);
}

.container__content--narrow {
	width: $contentWidth;
	@include mediaQueries(tablet){
		width: ($contentWidth * 0.8);
	};
	@include mediaQueries(narrowdesktop){
		width: ($contentWidth * 0.7);
	};
	@include mediaQueries(desktop){
		width: ($contentWidth * 0.6);
	};
}

.container__content--supernarrow {
	width: $contentWidth;
	@include mediaQueries(tablet){
		width: ($contentWidth * 0.7);
	};
	@include mediaQueries(narrowdesktop){
		width: ($contentWidth * 0.6);
	};
	@include mediaQueries(desktop){
		width: ($contentWidth * 0.5);
	};
}


// Testing/Debug
.container--test {
	@include onlyInDebug() {
    background-color: darkred;
  }
}
