
// DESCRIPTION


// NOTES


// PARAMETERS


// BLOCK
.cupgame {
  width: 100%;
  display: block;
  position: relative;
  //padding-bottom: calc(100% / 3 - 30px); // As long as Cup width/height relation is 1:1, this will hold true.
  padding-bottom: calc(100% / 3 - 30px); // As long as Cup width/height relation is 1:1, this will hold true.

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.cupgame,
.cupgame__slot,
.cupgame__controls {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.cupgame__slot {
  @include transition(transform 250ms linear);


  display: block;
  float: left;
  //width: calc(100% / 3 - 30px);
  width: calc(100% / 3 - 40px);
  padding-left: 5px;
  padding-right: 5px;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  & + & {
    //margin-left: 45px;
  }
  float: none;
  position: absolute;
  &:nth-of-type(1) {
    @include translate(0%, 0%);
  }
  &:nth-of-type(2) {
    //@include translate(calc(100% + 45px) , 0%);
    @include translate(100% , 0%);
  }
  &:nth-of-type(3) {
    //@include translate(calc(200% + 90px) , 0%);
    @include translate(200% , 0%);
  }
  &:nth-of-type(4) {
    //@include translate(calc(200% + 90px) , 0%);
    @include translate(300% , 0%);
  }
  &:nth-of-type(5) {
    @include translate(400% , 0%);
  }
  &:nth-of-type(6) {
    @include translate(500% , 0%);
  }
}

.cupgame__controls {
  @include noUserSelect();
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 60;
  top: calc(100% + 10px);
  & > * {

  }
}

//--- MODIFIERS -------------------------------------------------------//

.cupgame--count2 {
  padding-bottom: calc(100% / 2 - 40px);
  .cupgame__slot {
    width: calc(100% / 2);
  }
}

.cupgame--count3 {
  padding-bottom: calc(100% / 3 - 40px);
  .cupgame__slot {
    width: calc(100% / 3);
  }
}

.cupgame--count4 {
  padding-bottom: calc(100% / 4 - 40px);
  .cupgame__slot {
    width: calc(100% / 4);
  }
}

.cupgame--count5 {
  padding-bottom: calc(100% / 5 - 40px);
  .cupgame__slot {
    width: calc(100% / 5);
  }
}

.cupgame--count6 {
  padding-bottom: calc(100% / 6 - 40px);
  .cupgame__slot {
    width: calc(100% / 6);
  }
}


//--- MEDIA QUERIES -------------------------------------------------------//

@include mediaQueries(tablet) {
  .cupgame__slot {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@include mediaQueries(desktop) {
  .cupgame__slot {
    padding-left: 20px;
    padding-right: 20px;
  }
}







// DELETE
.cupgame__slot:nth-child(2) {
  .cup__reward {
    background-color: gold;
  }
}
