
// PARAMETERS



// BLOCK

.fact {
	display: block;
  width: 100%;
	position: relative;
	//text-transform: uppercase;
	//font-weight: 700;
  font-family: $font_BrandonTextBold;
  font-weight: 400;
}

.fact,
.fact__icon,
.fact__main,
.fact__sub {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS -----------------------------------------------------//

.fact__icon {
	//font-size: 60px;
	font-size: 52px;
	width: 52px;
	height: 46px;
	line-height: 46px;
	//position: absolute;
	//left: -100%;
	//top: 50%;
	color: $color_black;
	background-position: left top;
	background-repeat: no-repeat;
	text-align: center;
	overflow: hidden;
	float: left;
	& > * {
		line-height: 46px;
	}
}

.fact__main {
	@include fontSize(theta, 1);
	display: block;
	width: calc(100% - 52px);
	//font-weight: 700;
	color: $color_heart;
	float: left;
	padding-left: 5px;
	//white-space: nowrap;
	& + .fact__sub {
		margin-top: 4px;
	}
}

.fact__sub {
	@include fontSize(jimmi, 1);
	display: block;
	float: left;
	width: calc(100% - 52px);
	padding-left: 5px;
	//white-space: nowrap;
}

//--- MODIFIERS -----------------------------------------------------//

/*
.fact__icon--unicorn {
	background-image: url('../images/graphic/icon_unicorn.png');
	width: image-width('../images/graphic/icon_unicorn.png');
	height: image-height('../images/graphic/icon_unicorn.png');
	left: -#{image-width('../images/graphic/icon_unicorn.png') + 10px};
	margin-top: -#{image-height('../images/graphic/icon_unicorn.png') / 2};
}

.fact__icon--cup {
	background-image: url('../images/graphic/icon_cup.png');
	width: image-width('../images/graphic/icon_cup.png');
	height: image-height('../images/graphic/icon_cup.png');
	left: -#{image-width('../images/graphic/icon_cup.png') + 10px};
	margin-top: -#{image-height('../images/graphic/icon_cup.png') / 2};
}

.fact__icon--code {
	background-image: url('../images/graphic/icon_code.png');
	width: image-width('../images/graphic/icon_code.png');
	height: image-height('../images/graphic/icon_code.png');
	left: -#{image-width('../images/graphic/icon_code.png') + 10px};
	margin-top: -#{image-height('../images/graphic/icon_code.png') / 2};
}
*/

//--- MEDIA QUERIES -----------------------------------------------------//

@include mediaQueries(mobile) {
	.fact__icon {
		width: 100%;
		float: none;
		text-align: center;
	}
	.fact__main {
    @include fontSize(eta, 1);
		width: 100%;
		float: none;
		text-align: center;
		padding-left: 0px;
	}
	.fact__sub {
    @include fontSize(gamma);
		text-align: center;
		width: 100%;
		float: none;
		text-align: center;
		padding-left: 0px;
	}

}


/*
@include mediaQueries(mobile) {
	.fact__icon {
		width: 100%;
		background-position: center top;
		top: auto;
		left: auto;
		margin-top: 0;
		position: relative;
		height: 40px;
		background-size: contain;
	}
	.fact__main {
		@include fontSize(theta, 1);
		text-align: center;
		color: $color_heart;
	}
	.fact__sub {
		text-align: center;
	}

	.fact__icon--unicorn {
		background-image: url('../images/graphic/icon_unicorn_black.png');
		//width: image-width('../images/graphic/icon_unicorn_black.png');
		//height: image-height('../images/graphic/icon_unicorn_black.png');
	}
	.fact__icon--cup {
		background-image: url('../images/graphic/icon_cup_black.png');
		//width: image-width('../images/graphic/icon_cup_black.png');
		//height: image-height('../images/graphic/icon_cup_black.png');
	}
	.fact__icon--code {
		background-image: url('../images/graphic/icon_code_black.png');
		//width: image-width('../images/graphic/icon_code_black.png');
		//height: image-height('../images/graphic/icon_code_black.png');
	}
	.fact__icon--baby {
		background-image: url('../images/graphic/icon_baby_black.png');
		//width: image-width('../images/graphic/icon_baby_black.png');
		//height: image-height('../images/graphic/icon_baby_black.png');
	}
	.fact__icon--flag {
		background-image: url('../images/graphic/icon_flag_black.png');
		//width: image-width('../images/graphic/icon_flag_black.png');
		//height: image-height('../images/graphic/icon_flag_black.png');
	}
	.fact__icon--glasses {
		background-image: url('../images/graphic/icon_glasses_black.png');
		//width: image-width('../images/graphic/icon_glasses_black.png');
		//height: image-height('../images/graphic/icon_glasses_black.png');
	}
	.fact__icon--thumb {
		background-image: url('../images/graphic/icon_thumb_black.png');
		//width: image-width('../images/graphic/icon_thumb_black.png');
		//height: image-height('../images/graphic/icon_thumb_black.png');
	}
	.fact__icon--www {
		background-image: url('../images/graphic/icon_www_black.png');
		//width: image-width('../images/graphic/icon_www_black.png');
		//height: image-height('../images/graphic/icon_www_black.png');
	}
}
*/
