

// PARAMETERS
$_logoWidth: image-width('../images/graphic/game_banner.png');
$_logoHeight: image-height('../images/graphic/game_banner.png');
$_logoRatio: ($_logoWidth / $_logoHeight);


// BLOCK
.game {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.game,
.game__logo,
.game__teaser,
.game__rulesteaser,
.game__game,
.game__footer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.game__logo {
  background-image: url('/images/graphic/game_banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  padding-bottom: (100% / $_logoRatio * 0.9);
  z-index: 10;
  position: absolute;
  top: 15%;
  left: 10%;
}

.game__teaser {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 3;
}

.game__rulesteaser {
  display: block;
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: 3;
  color: $color_white;
  text-decoration: underline;
}

.game__game {
  display: block;
  position: absolute;
  z-index: 5;
  width: 70%;
  left: 15%;
  top: 40%;
}

.game__footer {
  @include fontSize(epsilon, 1);
  width: 80%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: $font_HelveticaNeueBlack;
  font-weight: 400;
  position: absolute;
  bottom: 30px;
  left: 10%;
}

//--- MODIFIERS ----------------------------------------------------------//



//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries(desktop) {
  .game__logo {
    height: $_logoHeight;
    width: $mq-contentWidth;
    left: calc(50% - #{$mq-contentWidth / 2});
    padding-bottom: 0;
  }
  .game__teaser {
    display: block;
    bottom: 10%;
    left: 0;
  }
  .game__rulesteaser {
    top: 30px;
    left: 40px;
  }
  .game__game {
    width: 70%;
    left: 15%;
    top: 40%;
  }
  .game__footer {
    @include fontSize(eta, 1);
    bottom: 40px;
    left: 0;
    width: 100%;
  }
}

@include mediaQueries(tablet) {
  .game__logo {
    height: $_logoHeight;
    width: $mq-contentWidth;
    left: calc(50% - #{$mq-contentWidth / 2});
    padding-bottom: 0;
  }
  .game__teaser {
    display: block;
    bottom: 10%;
    left: 0;
  }
  .game__rulesteaser {
    top: 30px;
    left: 40px;
  }
  .game__game {
    width: 70%;
    left: 15%;
    top: 40%;
  }
  .game__footer {
    @include fontSize(eta, 1);
    bottom: 40px;
    left: 0;
    width: 100%;
  }
}
