
/* Grid
---------------------------------------------------------------*/

$__gridSize: 24;
$__gridSpacing: 10px;

.grid,
[class*=grid--] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	min-height: 1px;
	position: relative;
	width: 100%;
}

.grid,
[class*=grid--],
.grid__wedge {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

// Elements

.grid__wedge {
	display: block;
	height: $__gridSpacing;
	width: 100%;
	clear: both;
}

// Modifiers

.grid--spaceright {
	padding-right: $__gridSpacing;
	@include mediaQueries(tablet){
		padding-right: 0;
		padding-bottom: $__gridSpacing;
	}
	@include mediaQueries(mobile){
		padding-right: 0;
		padding-bottom: $__gridSpacing;
	}
}

.grid--spaceleft {
	padding-left: $__gridSpacing;
	@include mediaQueries(tablet){
		padding-left: 0;
		padding-top: $__gridSpacing;
	}
	@include mediaQueries(mobile){
		padding-left: 0;
		padding-top: $__gridSpacing;
	}
}

.grid--spacebottom {
	margin-bottom: $__gridSpacing;
}

.grid--spacetop {
	margin-top: $__gridSpacing;
}

.grid--alignright {
	text-align: right;
}

.grid--aligncenter {
	text-align: center;
}

.grid--noresponsive {

}

@for $i from 1 through $__gridSize {
	.grid--#{$i} {
		width: 100% / $__gridSize * $i;
	}
}

// Generate modifiers for media queries
@include mediaQueries(tablet){
	$__gridSizeNew: 12;
	@for $i from 1 through $__gridSize {
		.grid--#{$i} {
			&:not(.grid--noresponsive) {
				$__scale: $__gridSize / $__gridSizeNew;
				$__newWidth: (100% / ($__gridSize) * $i) * $__scale;
				@if $__newWidth > 100% {
					$__newWidth: 100%;
				}
				width: $__newWidth;
			}
		}
	}
};
@include mediaQueries(mobile){
	$__gridSizeNew: 6;
	@for $i from 1 through $__gridSize {
		.grid--#{$i} {
			&:not(.grid--noresponsive) {
				$__scale: $__gridSize / $__gridSizeNew;
				$__newWidth: (100% / ($__gridSize) * $i) * $__scale;
				@if $__newWidth > 100% {
					$__newWidth: 100%;
				}
				width: $__newWidth;
			}
		}
	}
};
