
// BLOCK
.inlinelist {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	float: right;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.inlinelist,
.inlinelist__item {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS -----------------------------------------------------//

.inlinelist__item {
	display: block;
	padding: 0;
	float: left;
	text-decoration: inherit;
  position: relative;
	& + & {
		margin-left: 30px;
	}
}


//--- Modifiers -----------------------------------------------------//

.inlinelist--aligntop {
	display: block;
}

.inlinelist--alignleft {
	float: left;
}


.inlinelist--aligncenter {
	text-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	float: none;
	.inlinelist__item {
		float: none;
		display: inline-block;
	}
}

.inlinelist--tabletbreak {
	@include mediaQueries(tablet){
		//display: block;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		.inlinelist__item {
			clear: both;
			//width: 100%;
			margin-left: 0px;
			margin-top: 10px;
		}
	}
}

.inlinelist--mobilebreak {
	@include mediaQueries(mobile){
		//display: block;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		.inlinelist__item {
			clear: both;
			//width: 100%;
			margin-left: 0;
			margin-top: 10px;
		}
	}
}

.inlinelist--iconlist {
	.inlinelist__item {
		line-height: 60px;
		font-size: 40px;
		width: 60px;
		& + .inlinelist__item {
			margin-left: 10px;
		}
	}
}
