

// PARAMETERS
$_logoWidth: image-width('../images/graphic/intro_header.png');
$_logoHeight: image-height('../images/graphic/intro_header.png');
$_logoRatio: ($_logoWidth / $_logoHeight);

$_teaserWidth: image-width('../images/graphic/attachment_banner.png');
$_teaserHeight: image-height('../images/graphic/attachment_banner.png');
$_teaserRatio: ($_teaserWidth / $_teaserHeight);

$_scrolldownWidth: image-width('../images/graphic/arrow_scrolldown.png');
$_scrolldownHeight: image-height('../images/graphic/arrow_scrolldown.png');
$_scrolldownRatio: ($_scrolldownWidth / $_scrolldownHeight);

// BLOCK
.intro {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.intro,
.intro__logo,
.intro__scrolldown,
.intro__actors,
.intro__teaser {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.intro__logo {
  background-image: url('/images/graphic/intro_header.png');
  background-repeat: no-repeat;
  background-position: center top;
  width: 90%;
  padding-bottom: (100% / $_logoRatio * 0.9);
  display: block;
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 5%;
  background-size: contain;
}

.intro__scrolldown {
  background-image: url('/images/graphic/arrow_scrolldown.png');
  width: $_scrolldownWidth;
  height: $_scrolldownHeight;
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: calc(50% - #{$_scrolldownWidth / 2});
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 1;
  }
}

.intro__actors {
  position: absolute;
  top: 35%;
  width: 100%;
  left: 0;
  z-index: 5;
}

.intro__teaser {
  background-image: url('/images/graphic/attachment_banner.png');
  width: $_teaserWidth;
  height: $_teaserHeight;
  position: absolute;
  left: 0;
  top: calc(80% - #{$_teaserHeight / 2});
  z-index: 10;
  display: none;
}

//--- MODIFIERS ----------------------------------------------------------//



//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries(desktop) {
  .intro__logo {
    height: $_logoHeight;
    width: $mq-contentWidth;
    left: calc(50% - #{$mq-contentWidth / 2});
    padding-bottom: 0;
  }
  .intro__actors {
    top: 30%;
    width: 70%;
    left: 15%;
  }
  .intro__teaser {
    display: block;
    top: calc(50% - #{$_teaserHeight / 2});
  }
  .intro__scrolldown {

  }
}

@include mediaQueries(tablet) {
  .intro__logo {
    height: $_logoHeight;
    width: $mq-contentWidth;
    left: calc(50% - #{$mq-contentWidth / 2});
    padding-bottom: 0;
  }
  .intro__actors {
    top: 30%;
    width: 70%;
    left: 15%;
  }
  .intro__teaser {
    display: block;
  }
  .intro__scrolldown {

  }
}
