

// PARAMETERS
$__gutterWidth: 20px;

// BLOCK
.panel {
  @include transition(transform 800ms ease);
  width: 100%;
  height: 100%;
	padding-right: $__gutterWidth;
	padding-left: $__gutterWidth;
	position: relative;
	opacity: 1;
  //overflow-y: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  //position: fixed;
  top: 0;
  left: 0;
  @include onlyInDebug() {
    background-color: red;
	}
  &:after {
    content: "";
    display: block;
    clear: both;
	}
}

.panel,
.panel__inner,
.panel__content,
.panel__overlay,
.panel__bg,
.panel__bg:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.panel__inner {
  position: relative;
	width: 100%;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	@include onlyInDebug() {
		background-color: gold;
	}
}

.panel__content {
  width: $mq-contentWidth;
	margin: 0 auto;
  position: relative;
  height: 100%;
  //min-height: 100%; // flexbox will now center align with min-height
  z-index: 1;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  @include mediaQueries(tablet){
		width: $mq-contentWidth;
	};
	@include mediaQueries(desktop){
		width: $mq-contentWidth;
	};
	//@include mediaQueries(narrowdesktop){
		//width: $mq-contentWidth;
	//};
	@include mediaQueries(mobile){
		//width: $mq-contentWidth; // Mobile is set as default
	};
	@include onlyInDebug() {
		background-color: goldenrod;
	}
}

.panel__overlay {
  display: block;
  position: absolute;
  width: 300px;
  height: 1200px;
  background-color: green;
  left: 50%;
  top: 100px;
  margin-left: -150px;
  border-bottom: 20px solid blue;
}

.panel__scrollarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

.panel__bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

//--- MODIFIERS ----------------------------------------------------------//

.panel--list {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  //overflow: hidden;

  // Hide scrollbar, but still allow scroll
  -ms-overflow-style: none;
  //overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    //display: none;
    width: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.panel--frame {
  .panel__bg {
    background-color: $color_hearth;
    z-index: 0;
    &:before {
      @include border-image(url('/images/graphic/border_bullet.png') 15 15 round);
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 20px;
      width: calc(100% - 40px);
      height: calc(100% - 20px);
      border-style: solid;
      border-width: 15px;
    }
  }
}

.panel--sun {
  .panel__bg {
    background-image: url('/images/graphic/sun_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}


//--- MEDIA QUERRIES ----------------------------------------------------------//
