

// PARAMETERS
//$__gutterWidth: 20px;
$__gutterWidth: 0;

// BLOCK
.panel {
  @include transition(transform 800ms ease);
  width: 100%;
  height: 100%;
	padding-right: $__gutterWidth;
	padding-left: $__gutterWidth;
	position: relative;
	opacity: 1;
  //overflow-y: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  //position: fixed;
  top: 0;
  left: 0;
  @include onlyInDebug() {
    background-color: red;
	}
  &:after {
    content: "";
    display: block;
    clear: both;
	}
}

.panel,
.panel__inner,
.panel__content,
.panel__overlay,
.panel__bg,
.panel__bg:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.panel__inner {
  position: relative;
	width: 100%;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	@include onlyInDebug() {
		background-color: gold;
	}
}

.panel__content {
  width: $mq-contentWidth;
	margin: 0 auto;
  position: relative;
  height: 100%;
  //min-height: 100%; // flexbox will now center align with min-height
  z-index: 1;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  @include mediaQueries(tablet){
		width: $mq-contentWidth;
	};
	@include mediaQueries(desktop){
		width: $mq-contentWidth;
	};
	@include mediaQueries(mobile){
		//width: $mq-contentWidth; // Mobile is set as default
	};
	@include onlyInDebug() {
		background-color: goldenrod;
	}
}

.panel__overlay {
  display: block;
  position: absolute;
  width: 90%;
  //height: 1200px;
  background-color: $color_harvest;
  border: 4px solid $color_white;
  background-image: url('/images/graphic/sun_bg.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed;
  left: 5%;
  top: 100px;
  margin-bottom: 100px;
  padding: 32px 50px;
  z-index: 50;
}

.panel__overlayclose {
  @include noUserSelect();
  @include border-radius(50%);
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  right: -30px;
  width: 60px;
  height: 60px;
  color: $color_white;
  background-color: $color_hearth;
  background-image: url('/images/graphic/close.png');
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  &:focus,
  &:hover {
    background-color: lighten($color_hearth, 15%);
  }
  &:active {
    background-color: darken($color_hearth, 15%);
  }
}

.panel__scrollarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  z-index: 50;
  background-color: rgba($color_black, 0.5);
}

.panel__bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //z-index: 0;
  z-index: -1;
}

//--- MODIFIERS ----------------------------------------------------------//

.panel--list {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  //overflow: hidden;

  // Hide scrollbar, but still allow scroll
  -ms-overflow-style: none;
  //overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    //display: none;
    width: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.panel--frame {
  color: $color_white;
  .panel__bg {
    background-color: $color_hearth;
    z-index: 0;
    &:before {
      @include border-image(url('/images/graphic/border_bullet.png') 15 15 round);
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 20px;
      width: calc(100% - 40px);
      height: calc(100% - 20px);
      border-style: solid;
      border-width: 15px;
    }
  }
}

.panel--sun {
  .panel__bg {
    background-image: url('/images/graphic/sun_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.panel__scrollarea--show {
  display: block;
}


//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries(tablet) {
  .panel__overlay {
    width: 80%;
    left: 10%;
  }
}

@include mediaQueries(desktop) {
  .panel__overlay {
    width: 60%;
    left: 20%;
  }
}
