
// DESCRIPTION
/*
	These classes are for showing markup under their specific media query.
	Ex. under media query mobile profile, with .query--mobile, the element will be shown only on the mobile profile
	Ex. the classes can be combined, so .query--mobile.query--tablet will be shown both on mobile and tablet profiles.
*/

// PARAMETERS


// BLOCK

.query {

}

//--- ELEMENTS -----------------------------------------------------//



//--- MODIFERS -----------------------------------------------------//


// Generates the appropriate classes from $mediaQueriesContentWidths
@for $i from 1 through length($mediaQueriesContentWidths) {
	$__list: nth($mediaQueriesContentWidths, $i);
	$__name: nth($__list, 1);


	@if $__name == $mediaQueriesDefault and false {
		// This is not being used.
		@for $ii from 1 through length($mediaQueriesContentWidths) {
			$__list_sub: nth($mediaQueriesContentWidths, $ii);
			$__name_sub: nth($__list_sub, 1);
			@if $__name_sub != $mediaQueriesDefault {
				.query--#{$__name_sub} {
					&:not(.query--#{$__name}) {
						display: none;
					}
				}
			}
		}
	}
	@else {
		@include mediaQueries($__name) {
			@for $ii from 1 through length($mediaQueriesContentWidths) {
				$__list_sub: nth($mediaQueriesContentWidths, $ii);
				$__name_sub: nth($__list_sub, 1);
				@if $__name != $__name_sub {
					.query--#{$__name_sub} {
						&:not(.query--#{$__name}) {
							display: none;
						}
					}
				}
			}
		}
	}
}
