
// DESCRIPTION
/*
	These classes are for hiding markup under their specific media query.
	Ex. under media query mobile profile, with .querynot--mobile, the element will be hidden only on the mobile profile
*/


// PARAMETERS


// BLOCK

.querynot {

}

//--- ELEMENTS -----------------------------------------------------//



//--- MODIFERS -----------------------------------------------------//


// Generates the appropriate classes from $mediaQueriesContentWidths
@for $i from 1 through length($mediaQueriesContentWidths) {
	$__list: nth($mediaQueriesContentWidths, $i);
	$__name: nth($__list, 1);

	@include mediaQueries($__name) {
		.querynot--#{$__name} {
			display: none;
		}
	}
}
