
// NOTES
/*
	This is a heavy polluting block. Many tag like p, a, h1 etc, will have their default inheritance overridden.
	Other blocks might not work as intended in inside this block
*/


// BLOCK

.rte {
	display: block;
	width: 100%;
	color: $color_grey;
	font-family: $font_openSans;
	.rte + * {
		margin-top: 10px;
	}
}

.rte,
.rte__quote {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.rte__quote {
  display: block;
  width: 100%;
  text-align: center;
  font-family: $font_BrandonTextBold;
  font-weight: 400;
  color: $color_heart;
  font-size: 76px;
  line-height: 55px;
  height: 35px;
}

// Default Layout Setup

.rte p,
.rte a,
.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte img {
	margin: 0;
	display: block;
	width: 100%;
	text-decoration: none;
	&:last-child {
		margin-bottom: 0;
	}
	& + * {
		margin-top: 10px;
	}
}

.rte p {
	@include fontSize(zeta, 1.2);
	font-weight: 100;
	a {
		display: inline;
		text-transform: none;
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
	}
}

.rte a {
	@include fontSize(jimmi, 0);
	color: $color_black;
	text-transform: uppercase;
	//font-weight: 700;
	font-weight: 400;
}

.rte h1 {
	@include fontSize(zeta, 1.2);
	color: $color_black;
	text-transform: uppercase;
  font-family: $font_BrandonTextBold;
  font-weight: 400;
}

.rte h2 {
	@include fontSize(epsilon, 1.2);
	color: $color_black;
	text-transform: uppercase;
  font-family: $font_BrandonTextBold;
  font-weight: 400;
}


// Layout Setup 2
.rte.rte--layout2 {
	font-family: $font_openSans;
	p {
		@include fontSize(zeta, 1.45);
		font-weight: 100;
		text-transform: none;
    font-family: inherit;
	}
	h1 {
		@include fontSize(iota, 1.2);
		font-style: italic;
		font-weight: 100;
		text-transform: none;
    font-family: inherit;
	}
	h2 {
		text-transform: none;
		font-weight: 100;
    font-family: inherit;
	}
}


// Layout Setup 3
.rte.rte--layout3 {
	font-family: $font_openSans;
	//text-align: center;
	p {
		@include fontSize(zeta, 1.45);
		font-weight: 100;
		text-transform: none;
    font-family: inherit;
		a {
			color: $color_heart;
			font-weight: 700;
		}
	}
	h1 {
		@include fontSize(theta, 1.2);
		font-style: italic;
		font-weight: 400;
		text-transform: none;
    font-family: inherit;
	}
	h2 {
		text-transform: none;
		font-weight: 100;
    font-family: inherit;
	}
}


// Layout Setup 4
.rte.rte--layout4 {
	font-family: $font_openSans;
	color: $color_grey;
	p {
		@include fontSize(zeta, 1.2); // 20
		font-weight: 100;
		//text-align: justify;
		text-transform: none;
		a {
			color: $color_heart;
			//font-weight: 700;
		}
	}
	h1,
	h2 {
		@include fontSize(eta, 1.1); // 24
		text-transform: uppercase;
		//font-weight: 700;
		color: $color_black;
		// Brandon Text Black
	}
	h3 {
		@include fontSize(jimmi, 1.1); // 15
		text-transform: uppercase;
		font-weight: 700;
		color: $color_black;
	}
	p,
	a,
	h1,
	h2,
	h3,
	h4,
  img,
	.rte {
		& + * {
			margin-top: 16px;
		}
	}
}


// Layout Setup 5
.rte.rte--layout5 {
	font-family: $font_openSans;
	p {
		@include fontSize(epsilon, 1.5);
		font-weight: 100;
		text-transform: none;
		& + h2 {
			margin-top: 30px;
		}
		a {
			color: $color_heart;
			font-weight: 700;
		}
	}
	h1 {
		//@include fontSize(theta, 1.2);
		@include fontSize(iota, 1.1);
		//font-style: italic;
		font-weight: 400;
    font-family: $font_BrandonTextBold;
		text-transform: none;
    //font-family: inherit;
	}
	h2 {
		@include fontSize(jimmi, 1);
		text-transform:uppercase;
		font-weight: 700;
    font-family: inherit;
	}
	p,
	a,
	h1,
	h2,
	h3,
	h4,
  img,
	.rte {
		& + * {
			margin-top: 16px;
		}
	}
}


// Layout Setup 6
.rte.rte--layout6 {
	font-family: $font_openSans;
	color: $color_grey;
	p {
		@include fontSize(zeta, 1.2); // 20
		font-weight: 100;
		text-transform: none;
		a {
			color: $color_heart;
			font-weight: 700;
		}
	}
	h1,
	h2 {
		@include fontSize(eta, 1.1); // 24
		text-transform: none;
		font-weight: 400;
		color: $color_black;
		// Brandon Text Black
	}
	h3 {
		@include fontSize(jimmi, 1.1); // 15
		text-transform: uppercase;
		font-weight: 700;
		color: $color_black;
	}
}


// Layout Setup 7
.rte.rte--layout7 {
	//font-family: $font_openSans;
	font-family: $font_BrandonTextBold;
	color: $color_grey;
	text-transform: uppercase;
	p {
		@include fontSize(jimmi, 1.2); // 20
		font-weight: 100;
		text-transform: inherit;
		a {
			color: $color_heart;
			font-weight: 700;
		}
	}
	h1,
	h2,
	h3 {
		@include fontSize(theta, 1.1); // 24
		text-transform: inherit;
		font-weight: 700;
		color: $color_black;
	}
}

// Layout Setup 8
.rte.rte--layout8 {
	font-family: $font_BrandonTextBold;
	color: $color_black;
	text-transform: uppercase;
	p {
		@include fontSize(jimmi, 1.2);
		font-weight: 100;
		text-transform: inherit;
    font-family: inherit;
		a {
			color: $color_heart;
			font-weight: 700;
		}
	}
	h1,
	h2,
	h3 {
		@include fontSize(theta, 1.1); // 24
		text-transform: inherit;
		font-weight: 700;
		color: $color_black;
	}
  p,
  a,
  h1,
  h2,
  h3,
  h4,
  img,
  .rte {
    & + * {
      margin-top: 10px;
    }
  }
}


.rte.rte--textcenter {
	text-align: center;
}

.rte.rte--colorinherit {
	color: inherit;
	p,
	a,
	h1,
	h2,
	h3,
	h4 {
		color: inherit;
	}
}



@include mediaQueries(mobile) {
  .rte {
    h2 {
      @include fontSize(gamma);
    }
  }
  .rte.rte--layout7 {
    h1,
    h2,
    h3 {
      @include fontSize(zeta, 1.1); // 24
    }
  }
  .rte.rte--layout5 {
    h1 {
      @include fontSize(theta, 1.1);
    }
  }
}

@include mediaQueries(tablet) {
  .rte.rte--layout7 {
    h1,
    h2,
    h3 {
      @include fontSize(zeta, 1.1); // 24
    }
  }
}
