
// DESCRIPTION


// NOTES
/*
	The flexbox isn't required to work,
	but will make sure that the content on both sides
	are vertically centered, according to each others.
*/


// PARAMETERS

// BLOCK
.split {
	height: 100%;
	display: block;
	text-align: center;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;

  font-family: $font_BrandonTextBold;
  font-weight: 400;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	&:before {
		content: "";
		//display: block;
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: $color_white;
    display: none;
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.split,
.split__left,
.split__right {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.split__left {
	@include fontSize(zeta, 1.2);
	//font-weight: 700;
	width: 50%;
	text-align: right;
	float: left;
	padding-right: 25px;
}

.split__right {
	@include fontSize(zeta, 1.2);
	//font-weight: 700;
	float: left;
	width: 50%;
	text-align: left;
	padding-left: 25px;
}

.split__center {
  @include fontSize(zeta, 1.2);
  width: 100%;
  text-align: center;
  padding-right: 0;
}

//--- MODIFIERS -------------------------------------------------------//

@include mediaQueries(mobile) {
	.split {
		display: block;
		&:before {
			display: none;
		}
	}
	.split__left,
	.split__right {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		text-align: center;
	}
	.split__left {

		& + .split__right {
			margin-top: 25px;
		}
	}
}
