

// PARAMETERS

// BLOCK
.splash {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	//text-transform: uppercase;
	text-align: center;

  font-weight: 400;
  font-family: $font_BrandonTextBold;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.splash,
.splash__box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.splash__box {
	width: 100%;
	padding: 40px 20px;
	border: 10px solid $color_black;
	@include mediaQueries(tablet) {
		width: 80%;
		//padding: 120px 40px;
		padding: 100px 40px;
	}
	@include mediaQueries(narrowdesktop) {
		width: 50%;
		//padding: 120px 40px;
		padding: 100px 40px;
	}
	@include mediaQueries(desktop) {
		width: 50%;
		//padding: 120px 40px;
		padding: 100px 40px;
	}
}

.splash__bigline {
	@include fontSize(eta, 1.1);
	@include mediaQueries(tablet) {
		@include fontSize(iota, 1.1);
	}
	@include mediaQueries(narrowdesktop) {
		@include fontSize(iota, 1.1);
	}
	@include mediaQueries(desktop) {
		@include fontSize(iota, 1.1);
	}
}

.splash__smallline {
	@include fontSize(jimmi, 1.3);
	@include mediaQueries(tablet) {
		@include fontSize(jimmi, 1.3);
	}
	@include mediaQueries(narrowdesktop) {
		@include fontSize(jimmi, 1.3);
	}
	@include mediaQueries(desktop) {
		@include fontSize(jimmi, 1.3);
	}
}

//--- MODIFIERS -------------------------------------------------------//

