
.tiles {
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

.tiles,
.tiles__tile,
.tiles__inner,
.tiles__overlay {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS -------------------------------------------------------//

.tiles__tile {
	display: block;
	float: left;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
	opacity: 1;
	&:focus,
	&:hover {
		.tiles__overlay {
			opacity: 1;
		}
	}
	&:before {
		@include transition(all 300ms ease);
		// Effect layer
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		//z-index: 15;
	}
}
a.tiles__tile {
	@include noUserSelect();
	&:hover {
		//opacity: 0.8;
		opacity: 1.0;
		&:before {
			//@include box-shadow(inset 0px 0px 0px 15px $color_heart);
		}
		.tiles__inner {
			@include transform(rotate(10deg) scale(1.2));
		}
	}
	&:active {
		opacity: 0.7;
	}
}

.tiles__inner {
	@include transition(all 300ms ease);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;

	& > img,
	& > a > img {
		width: 100%;
		display: block;
		margin: 0;
	}
}
.tiles__overlay {
	@include transition(opacity 300ms ease, transform 300ms ease);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba($color_black, 0.90);
	color: $color_white;
	text-align: center;
	z-index: 10;
  opacity: 0;
  padding: 10px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}


//--- MODIFIERS -------------------------------------------------------//

.tiles--line3 {
	.tiles__tile {
		width: (100% / 2);
		padding-bottom: (100% / 2);
	}
}


//--- MEDIA QUERIES -------------------------------------------------------//

@include mediaQueries(tablet) {
	.tiles__tile {
		width: (100% / 2);
		padding-bottom: (100% / 2);
	}
	.tiles--line3 {
		.tiles__tile {
			width: (100% / 2);
			padding-bottom: (100% / 2);
		}
	}
}

@include mediaQueries(narrowdesktop) {
	.tiles__tile {
		width: (100% / 2);
		padding-bottom: (100% / 2);
	}
	.tiles--line3 {
		.tiles__tile {
			width: (100% / 3);
			padding-bottom: (100% / 3);
		}
	}
}

@include mediaQueries(desktop) {
	.tiles__tile {
		width: (100% / 2);
		padding-bottom: (100% / 2);
	}
	.tiles--line3 {
		.tiles__tile {
			width: (100% / 3);
			padding-bottom: (100% / 3);
		}
	}
}


