

// PARAMETERS
$_logoWidth: image-width('../images/graphic/xperiments_banner.png');
$_logoHeight: image-height('../images/graphic/xperiments_banner.png');
$_logoRatio: ($_logoWidth / $_logoHeight);

// BLOCK
.xperiments {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.xperiments,
.xperiments__logo,
.xperiments__slides {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.xperiments__logo {
  background-image: url('/images/graphic/xperiments_banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  padding-bottom: (100% / $_logoRatio * 0.8);
  z-index: 10;
  display: block;
  position: absolute;
  top: 15%;
  left: 10%;

}

.xperiments__slides {
  display: block;
  position: absolute;
  width: 80%;
  left: 10%;
  //bottom: 30px;
  top: 25%;
  height: 65%;
  z-index: 5;
}

//--- MODIFIERS ----------------------------------------------------------//



//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries(mobile) {
  @include landscape() {
    .xperiments__logo {
      width: 60%;
      padding-bottom: (100% / $_logoRatio * 0.6);
      left: 20%;
    }
    .xperiments__slides {
      top: 29%;
    }
  }
}
