extends ../master

block append head

block append body

block append content

  section.panel.panel--sun
    div.panel__content
      div.panel__inner 1
    div.panel__scrollarea
      div.panel__overlay overlay

  section.panel
    div.panel__frame
    div.panel__content
      div.panel__inner 2
    div.panel__scrollarea
      div.panel__overlay overlay

  section.panel
    div.panel__content
      div.panel__inner 3
    div.panel__scrollarea
      div.panel__overlay overlay
