extends ../master

block append head

block append body

block append content



  section.panel.panel--sun
    div.panel__bg
    div.intro
      div.intro__logo
      div.intro__actors
        div.stage.stage--grouped
          div.stage__actor.stage__actor--boy
          div.stage__actor.stage__actor--prof
          div.stage__actor.stage__actor--girl
      div.intro__scrolldown
      div.intro__teaser





  section.panel.panel--frame
    div.panel__bg
    div.game
      div.game__logo
      a.game__rulesteaser(href="#") Regler og konkurrencebetingelser
      div.game__teaser teaser
      div.game__game
        div.cupgame.cupgame--count3(data-cupgame, data-cupcount=3)
      div.game__footer Hjælp Professor Blomme med at finde sine briller og deltag

    div.panel__scrollarea(data-ng-init="main.registerOverlay('win'); main.overlays['win'].states.show = true;", data-ng-class="{'panel__scrollarea--show':main.overlays['win'].states.show}")
      div.panel__overlay
        div.rte.rte--nonumbers
          h2.rte__headline Godt gået, mit lille æggehoved
          div.rte__segment
            div.rte__image
              div.stage
                div.stage__actor.stage__actor--prof
            div.rte__text
              p Udfyld felterne nedenfor så vi kan kontakte dig hvis du er den heldige vinder. Vinderne får besked løbende.
              form.form(name="subscribe", novalidate=)
                div.form__line.form__line--2
                  input.form__input(type="text", placeholder="Fornavn", data-ng-model="subscribe.firstname")
                  input.form__input(type="text", placeholder="Efternavn", data-ng-model="subscribe.lastname")
                div.form__line
                  input.form__input(type="text", placeholder="Adresse", data-ng-model="subscribe.address")
                div.form__line.form__line--2
                  input.form__input(type="text", placeholder="Postnummer", data-ng-model="subscribe.zipcode")
                  input.form__input(type="text", placeholder="By", data-ng-model="subscribe.town")
                div.form__line
                  input.form__input(type="text", placeholder="Email", data-ng-model="subscribe.email")
                div.form__line
                  input.form__button(type="submit", value="Deltag nu")
          div.rte__segment
            p Du kan deltage så mange gange du vil. Jo flere gange du deltager jo flere lodder har du med i konkurrencen.
        div.panel__overlayclose(data-ng-click="main.closeAllOverlays()")

    div.panel__scrollarea(data-ng-init="main.registerOverlay('subscribed')", data-ng-class="{'panel__scrollarea--show':main.overlays['subscribed'].states.show}")
      div.panel__overlay subscribed
        div.panel__overlayclose(data-ng-click="main.closeAllOverlays()")
        div.rte
          h2.rte__headline Du deltager
          h2.rte__headline nu i konkurrencen
          p Vinderen får directe besked
          a(data-ng-click="main.closeAllOverlays()") Tilbage til side

    div.panel__scrollarea(data-ng-init="main.registerOverlay('rules')", data-ng-class="{'panel__scrollarea--show':main.overlays['rules'].states.show}")
      div.panel__overlay rules
        div.panel__overlayclose(data-ng-click="main.closeAllOverlays()")
        div.rte
          h2.rte__headline Konkurrence regler
          p RULES!!!!
          a(data-ng-click="main.closeAllOverlays()") Luk





  section.panel.panel--sun
    div.panel__bg
    div.xperiments
      div.xperiments__logo
      div.xperiments__slides
        div.slides.slides--fit(data-ng-controller="SlidesCtrl as slides", data-slides="4", data-slides-autoplay="false")
          h1.slides__headline(data-ng-show="slides.currentIndex === 0") Headline 1
          h1.slides__headline(data-ng-show="slides.currentIndex === 1") Headline 2
          h1.slides__headline(data-ng-show="slides.currentIndex === 2") Headline 3
          h1.slides__headline(data-ng-show="slides.currentIndex === 3") Headline 4
          div.slides__cutter
            div.slides__list(data-ng-style="slides.css")
              div.slides__slide(style="background-image:url('http://placehold.it/900x400')")
              div.slides__slide(style="background-image:url('http://placehold.it/900x400')")
              div.slides__slide(style="background-image:url('http://placehold.it/900x400')")
              div.slides__slide(style="background-image:url('http://placehold.it/900x400')")
          div.slides__attachment(data-ng-show="slides.currentIndex === 0")
            div.btn.btn--center
              div.btn__text(data-ng-click="main.toggleOverlay('juicy', true)") Se ægsperiment 1
          div.slides__attachment(data-ng-show="slides.currentIndex === 1")
            div.btn.btn--center
              div.btn__text(data-ng-click="main.toggleOverlay('egg', true)") Se ægsperiment 2
          div.slides__attachment(data-ng-show="slides.currentIndex === 2")
            div.btn.btn--center
              div.btn__text(data-ng-click="main.toggleOverlay('sugar', true)") Se ægsperiment 3
          div.slides__attachment(data-ng-show="slides.currentIndex === 3")
            div.btn.btn--center
              div.btn__text(data-ng-click="main.toggleOverlay('fruit', true)") Se ægsperiment 4
          div.slides__arrow(data-ng-click="slides.switchSlide(-1)") Forrige
          div.slides__arrow.slides__arrow--right(data-ng-click="slides.switchSlide(1)") Mæste

    div.panel__scrollarea(data-ng-init="main.registerOverlay('juicy')", data-ng-class="{'panel__scrollarea--show':main.overlays['juicy'].states.show}")
      div.panel__overlay
        div.panel__overlayclose(data-ng-click="main.closeAllOverlays()")
        div.rte
          a(href="#") Print ægsperiment
          h2.rte__headline ÆGSPERIMENT #1
          h2.rte__headline Bag skallede-æggekager
          p Udfyld felterne nedenfor så vi kan kontakte dig hvis du er den heldige vinder. Vinderne får besked løbende.
          div.rte__segment
            div.rte__image
              img(src="http://placehold.it/338x225")
            div.rte__text Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.
          div.rte__segment
            div.rte__image
              img(src="http://placehold.it/338x225")
            div.rte__text Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.
          div.rte__segment
            div.rte__image
              img(src="http://placehold.it/338x225")
            div.rte__text Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.
          div.rte__segment
            div.rte__image
              img(src="http://placehold.it/338x225")
            div.rte__text Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.

    div.panel__scrollarea(data-ng-init="main.registerOverlay('egg')", data-ng-class="{'panel__scrollarea--show':main.overlays['egg'].states.show}")
      div.panel__overlay egg
        div.panel__overlayclose(data-ng-click="main.closeAllOverlays()")

    div.panel__scrollarea(data-ng-init="main.registerOverlay('sugar')", data-ng-class="{'panel__scrollarea--show':main.overlays['sugar'].states.show}")
      div.panel__overlay sugar
        div.panel__overlayclose(data-ng-click="main.closeAllOverlays()")

    div.panel__scrollarea(data-ng-init="main.registerOverlay('fruit')", data-ng-class="{'panel__scrollarea--show':main.overlays['fruit'].states.show}")
      div.panel__overlay fruit
        div.panel__overlayclose(data-ng-click="main.closeAllOverlays()")
