extends ../master

block append head

block append body

block append content

  div.testme

  section.panel
    div.panel__bg.panel__bg--sun
    div.panel__content
      div.panel__inner 1
    div.panel__scrollarea
      div.panel__overlay overlay

  section.panel
    div.panel__bg.panel__bg--frame
    div.panel__content
      div.panel__inner 2
    div.panel__scrollarea
      div.panel__overlay overlay

  section.panel
    div.panel__bg
    div.panel__content
      div.panel__inner 3
    div.panel__scrollarea
      div.panel__overlay overlay
