extends ../master

block append head

block append body

block append content

  //div.testme

  section.panel.panel--sun
    div.panel__bg
    div.panel__content
      div.panel__inner 1
    div.panel__scrollarea
      div.panel__overlay overlay

  section.panel.panel--frame
    div.panel__bg
    div.panel__content
      div.panel__inner
        div.cupgame.cupgame--count4(data-cupgame, data-cupcount=4)
          //div.cupgame__slot
            div.cup
              div.cup__goblet
              div.cup__reward
          //div.cupgame__slot
            div.cup
              div.cup__goblet
              div.cup__reward
          //div.cupgame__slot
            div.cup
              div.cup__goblet
              div.cup__reward
    div.panel__scrollarea
      div.panel__overlay overlay

  section.panel.panel--sun
    div.panel__bg
    div.panel__content
      div.panel__inner 3
    div.panel__scrollarea
      div.panel__overlay overlay
